    .text-justify {
            text-align: justify;
    }

    body {
        background-color: lightblue;
    }

    div ul {    
        list-style:none;
        font-size: 0;
        padding: 0;
    }

    div ul li {
        display: inline-block;
        width: 20%;
        position:relative;
    }

    div ul li a {
        font-size: 14px;
        text-align: center;
        display: block;
        color: black;
        background-color: none;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: sans-serif;
    }

    div ul li a:hover {
        background-color: rgb(141, 141, 140);
    }  

    ul ul { 
    position: absolute;
    display: none;
    width: 100%;
    }

    ul ul li { 
    width: 100%;
    }
  
    ul li:hover ul {
        display:block;
    }
  
    ul li:hover ul a:hover {
        background-color: RoyalBlue 
    }

    #servicio {
        text-align: center;
    }

    #imagen {   
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 2%;     
    }

